.ChatMain
  .ChatMain__group-info
    .ChatMain__group
      .ChatMain__group-name
        = @group.name
      %ul.ChatMain__group-member
        Member: 
        %li.ChatMain__group-member-list
          - @group.users.each do |user|
            .Member
              = user.name
    = link_to edit_group_path(@group.id), class: "ChatMain__editButton" do
      Edit
  .ChatMain__message-list
    .ChatMain__messageBox
      .ChatMain__messageBox-info
        .ChatMain__messageBox-info-name
        .ChatMain__messageBox-info-date
      .ChatMain__messageBox-message
        = render @messages
  .ChatMain__message-form
    = form_with model: [@group, @message], html: {class: "ChatMain__message-form-new"}, local: true, id: 'new_comment' do |f|
      .ChatMain__formBox
        = f.text_field :content, class: 'ChatMain__formBox-contents', placeholder: 'type a message'
        = f.label :image, class: 'ChatMain__formBox-inputImage' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'ChatMain__formBox-inputImage-file'
      = f.submit 'Send', class: 'ChatMain__formBox-sendButton'