.SideBar
  .SideBar__user-name
    .TopItems
      .TopItems__name
        = current_user.name
      %ul.TopItems__icons
        %li.TopItems__icons-icon
          = link_to "#" do
            = icon('fas', 'edit', class: 'icon')
        %li.TopItems__icons-icon
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')
  .SideBar__group-list
    .SideBar__group
      .SideBar__group-name
        techcamp
      .SideBar__group-message
        まだメッセージがありません